
body{
    background: gray;
}

.Cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:center ;
  }

.header {
    background: #c5dd5a;
    color: rgb(22, 22, 22);
    font-size: 24px;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
}

.logo {
    margin-left: 30px;
}

.Home {
    border: none;
}

.botaoCarrinho {
    opacity: 1;
    margin-right: 30px;
    text-align: right;
}

button:hover {
    box-shadow: 0 0 10px 0px black;
  }